body    {
    overflow: hidden;
}



#canvas1  {
    position: absolute;
    border: 2px solid black;
    background: white;
    top: 5%;
    left: 2%;
    width: 95%;
    height:90%;
    border-radius: 10px;
}

.button {
    border-radius: 5px;
    border-color: black;
}

.dropdown {
    border-radius: 5px;
  
}

#controlsLeft {
    float:left;

}

#controlsRight {
    float:right;
   
}

#trackTitle {
    position: absolute;
    bottom: 1%;
    left: 50%;
    font-weight: bold;
    
}