body    {
    overflow: hidden;
}



#canvas1  {
    position: absolute;
    
    
    top: 5%;
    left: 2%;
    width: 95%;
    height:90%;
    border-radius: 10px;
    z-index: 1;
}

#canvasSpiral {
    position: absolute;
    top: 5%;
    left: 2%;
    width: 95%;
    height:90%;
    border-radius: 10px;
    z-index: 2;

}



#trueTrackOverlay {
    
    position: absolute;
    top: 5%;
    left: 2%;
    width: 95%;
    height:90%;
    z-index:3;
    opacity: 50%;
}

.button {
    border-radius: 5px;
    border-color: black;
}

.dropdown {
    border-radius: 5px;
  
}

#controlsLeft {
    float:left;

}

#controlsRight {
    float:right;
   
}

#controlsMid {
    position:absolute;
    left: 40%;

}

#trackInfo {
    position: absolute;
    bottom: 1%;
    left: 2%;
    font-weight: bold;
    
}

#trackBar {
    width: 350px;
    height: 20px;
    background-color:  #919191
    ;
}

#trackProgress {
    position: relative;
    width: 0%;
    height: 15px;
    background-color: #E7E7E7;
    opacity: 50%;
    bottom: 0%;
}

#trackBarNeedle {
    position: absolute;
    width: 2px;
    height: 20px;
    background-color: red;
    

}

#needle{
    position: absolute;
    left:50%;
    top:50%;
}

#controlsBottom {
    position:absolute;
    bottom:2%;
    left: 60%;

}
