body    {
    overflow: hidden;
}



#canvas1  {
    position: absolute;
    
    

    width: 100%;
    height:100%;

    z-index: 1;
}

#canvasSpiral {
    position: absolute;

    width: 100%;
    height:100%;

    z-index: 2;

}



#trueTrackOverlay {
    
    position: absolute;

    width: 100%;
    height:100%;
    z-index:3;
    opacity: 50%;
}

#controlsOverlay {
    
    position: fixed;
    width: 100%;
    height:100%;
    z-index:4;
    opacity: 100%;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
}

#previewOverlay {
    
    position: fixed;

    z-index:5;
    opacity: 100%;
    right: 15%;
    top:1%;


}

.button {
    border-radius: 10px;
    background-color: #c7c7c7;
    border: 2px solid black;
}

.button:hover:enabled{
    background-color: black; /* Green */
    color: white;
}
.button:active:enabled{
    background-color: black; /* Green */
    color: white;
}


.dropdown {
    border-radius: 5px;
  
}

#controlsLeft {
    float:left;

}

#controlsRight {
    float:right;
   
}




#trackBar {
    position: relative;
    width: 350px;
    height: 20px;
    background-color:  #919191;
    left:10%;
    
}

#trackProgress {
    position: relative;
    width: 0%;
    height: 15px;
    background-color: #E7E7E7;
    opacity: 50%;
    bottom: 0%;
}

#trackBarNeedle {
    position: absolute;
    width: 2px;
    height: 20px;
    background-color: red;
    

}

#needle{
    position: absolute;
    left:50%;
    top:50%;
}



.col {
    text-align: center;
}

#footerControls {
    position: absolute;
    bottom: 5%;
    left: 5%;
    right: 5%;

}

#trackInfo {
    color:red;
    text-align: center;
}

#logo {
    position: absolute;
    color: red;
    left: 2%;
}

#aboutButton {
    position: absolute;
    right: 5%;
    color:red;
    top: 75%
}

#editorToolButton {
    color: red;
}

#topInfo {
    position: relative;
    top:50px;
}

